@import "styles/variables";

.descriptionWrapper {
	max-width: $siteMaxWidth;
}

.moreAboutTitle {
	font-size: 24px;
}

.aiShoutout {
	font-size: 14px;
	color: gray;
	margin-top: 5px;
}

.moreAboutText {
	line-height: 1.5;
	text-indent: 50px;
}
