@import "styles/colors";

.headerContainer {
    background-color: $liberty;
    height: 70px;
    display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 0 15px;
}

.hamburgerMenu {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.menuLink {
	width: 35px;
	height: 5px;
	background-color: $celeste;
	border-radius: 20px;
}

.headerLinks {
	display: none;
}

@media only screen and (min-width: 768px) {
	.hamburgerMenu {
		display: none;
	}

	.headerLinks {
		display: flex;
	}
}