@import "styles/variables";

.aotdContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $blackCoffee;
	text-align: center;
}

.aotd {
	font-size: 24px;
	margin-bottom: 30px;
}

.aotdArt {
	height: 250px;
	width: 250px;
	margin-bottom: 20px;
}

.albumInfoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.artistName {
	font-size: 24px;
	margin-bottom: 10px;
}

.albumName {
	font-size: 30px;
	margin-bottom: 20px;
}

.albumYear {
	margin-bottom: 20px;
}

.streamLinks {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.streamIcon {
	font-size: 30px;
}

.createPostButton {
	margin-bottom: 50px;
}

@media only screen and (min-width: $tabletDeviceWidth) {
	.variableInformation {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 50px;
		margin-bottom: 50px;
	}

	.aotd {
		margin-bottom: 50px;
	}

	.albumInfoContainer {
		max-width: 325px;
	}

	.aotdArt {
		height: 350px;
		width: 350px;
	}

	.createPostButton {
		margin-bottom: 20px;
	}
}