@import "styles/variables";

.aotdContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Manrope";
	color: $blackCoffee;
	text-align: center;
}

.aotd {
	font-size: 24px;
	font-family: "Manrope Bold";
	margin-bottom: 30px;
}

.aotdArt {
	height: 250px;
	width: 250px;
	margin-bottom: 20px;
}

.artistName {
	font-size: 24px;
	font-family: "Manrope Bold";
	margin-bottom: 10px;
}

.albumName {
	font-size: 30px;
	font-family: "Manrope Bold";
	margin-bottom: 20px;
}

.albumYear {
	font-family: "Manrope Bold";
	margin-bottom: 20px;
}

.streamLinks {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.streamIcon {
	font-size: 30px;
}

.createPostButton {
	margin-bottom: 50px;
}

.bottomLine {
	border: 1px solid $blackCoffee;
	margin: 0;
	width: 100vw;
}