@import "styles/variables";

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $maxYellow;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid $blackCoffee;
	font-size: 16px;
	cursor: pointer;
	min-width: 150px;
}