@import "styles/variables";

.button {
	// MVP BRANCH BABY!!!
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $maxYellow;
	padding: 7px 15px;
	border-radius: 10px;
	border: 2px solid $blackCoffee;
	font-size: 16px;
	cursor: pointer;
	min-width: 150px;
	color: $blackCoffee;
	font-family: "Manrope";
	letter-spacing: 0.15px;
}