@import "styles/colors";

.logo {
	display: flex;
	font-family: "Liquido";
	font-size: 48px;
	letter-spacing: 5px;
	color: $celeste;
	align-self: center;
	cursor: pointer;
	margin-bottom: 5px;
}

.fullLogo {
	display: none;
}

@media only screen and (min-width: 768px) {
	.smallLogo {
		display: none;
	}

	.fullLogo {
		display: flex;
	}
}