.homepageAotdContainer {
	margin-bottom: 50px;
}

.homepageCopy {
	font-size: 32px;
	line-height: 40px;
	font-family: "Manrope ExtraBold";
	text-align: center;
	max-width: 280px;
}

.homepageExample {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-bottom: 70px;
}

.productDescription {
	margin: 0 20px;
}

.excuse {
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

@media only screen and (min-width: 658px) {
	.homepageExample {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 30px;
	}
}