@import "styles/variables";

.homepageAotdContainer {
	margin-bottom: 50px;
}

.homepageCopy {
	font-size: 32px;
	line-height: 40px;
	font-family: "Manrope ExtraBold";
	text-align: center;
	max-width: 280px;
}

.homepageExample {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-bottom: 70px;
}

.excuse {
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;
	max-width: 600px;
}

.stepList {
	list-style-type: disc;
	margin: 0 20px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 500px;
}

.waitlistCta {
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 20px;
	max-width: 500px;
}

.waitlistCopy {
	margin-bottom: 30px;
	max-width: 350px;
}

.singleEmailBit {
	font-size: 14px;
	max-width: 500px;
	text-align: center;
	line-height: 1.5;
}

@media only screen and (min-width: 658px) {
	.homepageExample {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 30px;
	}
}

@media only screen and (min-width: $tabletDeviceWidth) {
	.waitlistSection {
		flex-direction: row-reverse;
		justify-content: center;
		gap: 30px;
	}
}