@import "styles/variables";

.postCardContainer {
	background-color: $white;
	padding: 12px;
	border-radius: 10px;
	border: 2px solid $blackCoffee;
	font-size: 12px;
	max-width: 285px;
	cursor: pointer;
	transition: 0.25s;

	&:hover {
		transform: translateY(-2px) scale3d(1, 1, 1);

		.readMoreButton {
			gap: 7px;
			margin-right: 0;
		}
	}
}

.cardHeadSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.albumInfo {
	display: flex;
	gap: 5px;
}

.postCardArt {
	width: 65px;
	height: 65px;
}

.albumInfoText {
	font-size: 11px;
	display: flex;
	flex-direction: column;
}

.albumTitle {
	margin-bottom: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3;
	width: 125px;
}

.albumArtist {
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3;
	width: 125px;
}

.blocksWrapper {
	margin-bottom: 15px;
}

.contentPreview {
	height: 15px;
	background-color: rgb(221, 221, 221);
	border-radius: 2px;
	margin-bottom: 10px;
}

.smallerWidth {
	width: 190px;
}

.smallestWidth {
	width: 160px;
}

.readMoreButton {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	margin-right: 2px;
	transition: 0.25s;
}

@media only screen and (min-width: $mediumDeviceWidth) {
	.postCardContainer {
		width: 285px;
	}
}