@import "styles/variables";

.background {
	background-color: $liberty;
	height: 300px;
	padding: 0 15px;
	margin-top: auto;
}

.footerContainer {
	color: $celeste;
	font-family: "Manrope";
	display: flex;
	flex-direction: column;
}

.contactSection {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.footerLogo {
	font-size: 40px;
}

.contactText {
	font-size: 14px;
	margin-right: 10px;
}

.emailLink {
	font-size: 14px;
	text-decoration: underline;
}

.socialLinks {
	display: flex;
	gap: 15px;
}

.footerIcon {
	font-size: 30px;
}

@media only screen and (min-width: $mediumDeviceWidth) {
	.background {
		display: flex;
		justify-content: center;
	}

	.footerContainer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: $siteMaxWidth;
	}

	.socialLinks {
		max-width: 150px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
