@import "styles/colors";

.background {
	background-color: $liberty;
    height: 70px;
	border-bottom: 3px solid $celeste;
	padding: 0 15px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1220px;
}

.hamburgerMenu {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.menuLink {
	width: 35px;
	height: 5px;
	background-color: $celeste;
	border-radius: 20px;
}

.headerLinks {
	display: none;
}

@media only screen and (min-width: 768px) {
	.background {
		justify-content: center;
	}

	.hamburgerMenu {
		display: none;
	}

	.headerLinks {
		display: flex;
	}
}