@import "styles/variables";

.background {
	background-color: $liberty;
	height: 70px;
	border-bottom: 3px solid $celeste;
	padding: 0 15px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: $siteMaxWidth;
}

.hamburgerMenu {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: $celeste;
}

.menuLink {
	width: 35px;
	height: 5px;
	background-color: $celeste;
	border-radius: 20px;
}

.headerLink {
	font-size: 18px;
	color: $celeste;
	letter-spacing: 0.15px;
	font-family: "Manrope";
}

.headerLinks {
	display: none;
	align-items: center;
	gap: 35px;
}

.headerLinksMobile {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 50px;
	padding: 20px;
	background-color: $liberty;
	border-radius: 10px;
	gap: 15px;
	align-items: flex-end;
	z-index: 100;
}

@media only screen and (min-width: 626px) {
	.hamburgerMenu {
		display: none;
	}

	.headerLinksMobile {
		display: none;
	}

	.headerLinks {
		display: flex;
	}
}
