@import "styles/variables";

.background {
	background-color: $liberty;
	height: 70px;
	border-bottom: 3px solid $celeste;
	padding: 0 15px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: $siteMaxWidth;
}

.hamburgerMenu {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.menuLink {
	width: 35px;
	height: 5px;
	background-color: $celeste;
	border-radius: 20px;
}

.headerLink {
	font-size: 18px;
	color: $celeste;
	letter-spacing: 0.15px;
	font-family: "Manrope";
}

.headerLinks {
	display: flex;
	align-items: center;
	gap: 35px;
}

@media only screen and (min-width: $mediumDeviceWidth) {
	.background {
		justify-content: center;
	}

	.hamburgerMenu {
		display: none;
	}
}
